.icons-cl {
  display: inline-block;
  background-image: url(images/icons.png);
  width: 16px;
  height: 16px;
  overflow: hidden;
  color: transparent;
  padding: 0;
}
.icons-cl.icons-cl-caret-1-n {
  background-position: 0 0;
}
.icons-cl.icons-cl-caret-1-ne {
  background-position: -16px 0;
}
.icons-cl.icons-cl-caret-1-e {
  background-position: -32px 0;
}
.icons-cl.icons-cl-caret-1-se {
  background-position: -48px 0;
}
.icons-cl.icons-cl-caret-1-s {
  background-position: -64px 0;
}
.icons-cl.icons-cl-caret-1-sw {
  background-position: -80px 0;
}
.icons-cl.icons-cl-caret-1-w {
  background-position: -96px 0;
}
.icons-cl.icons-cl-caret-1-nw {
  background-position: -112px 0;
}
.icons-cl.icons-cl-caret-2-n-s {
  background-position: -128px 0;
}
.icons-cl.icons-cl-caret-2-e-w {
  background-position: -144px 0;
}
.icons-cl.icons-cl-triangle-1-n {
  background-position: 0px -16px;
}
.icons-cl.icons-cl-triangle-1-ne {
  background-position: -16px -16px;
}
.icons-cl.icons-cl-triangle-1-e {
  background-position: -32px -16px;
}
.icons-cl.icons-cl-triangle-1-se {
  background-position: -48px -16px;
}
.icons-cl.icons-cl-triangle-1-s {
  background-position: -64px -16px;
}
.icons-cl.icons-cl-triangle-1-sw {
  background-position: -80px -16px;
}
.icons-cl.icons-cl-triangle-1-w {
  background-position: -96px -16px;
}
.icons-cl.icons-cl-triangle-1-nw {
  background-position: -112px -16px;
}
.icons-cl.icons-cl-triangle-2-n-s {
  background-position: -128px -16px;
}
.icons-cl.icons-cl-triangle-2-e-w {
  background-position: -144px -16px;
}
.icons-cl.icons-cl-arrow-1-n {
  background-position: 0px -32px;
}
.icons-cl.icons-cl-arrow-1-ne {
  background-position: -16px -32px;
}
.icons-cl.icons-cl-arrow-1-e {
  background-position: -32px -32px;
}
.icons-cl.icons-cl-arrow-1-se {
  background-position: -48px -32px;
}
.icons-cl.icons-cl-arrow-1-s {
  background-position: -64px -32px;
}
.icons-cl.icons-cl-arrow-1-sw {
  background-position: -80px -32px;
}
.icons-cl.icons-cl-arrow-1-w {
  background-position: -96px -32px;
}
.icons-cl.icons-cl-arrow-1-nw {
  background-position: -112px -32px;
}
.icons-cl.icons-cl-arrow-2-n-s {
  background-position: -128px -32px;
}
.icons-cl.icons-cl-arrow-2-ne-sw {
  background-position: -144px -32px;
}
.icons-cl.icons-cl-arrow-2-e-w {
  background-position: -160px -32px;
}
.icons-cl.icons-cl-arrow-2-se-nw {
  background-position: -176px -32px;
}
.icons-cl.icons-cl-arrowstop-1-n {
  background-position: -192px -32px;
}
.icons-cl.icons-cl-arrowstop-1-e {
  background-position: -208px -32px;
}
.icons-cl.icons-cl-arrowstop-1-s {
  background-position: -224px -32px;
}
.icons-cl.icons-cl-arrowstop-1-w {
  background-position: -240px -32px;
}
.icons-cl.icons-cl-arrowthick-1-n {
  background-position: 0px -48px;
}
.icons-cl.icons-cl-arrowthick-1-ne {
  background-position: -16px -48px;
}
.icons-cl.icons-cl-arrowthick-1-e {
  background-position: -32px -48px;
}
.icons-cl.icons-cl-arrowthick-1-se {
  background-position: -48px -48px;
}
.icons-cl.icons-cl-arrowthick-1-s {
  background-position: -64px -48px;
}
.icons-cl.icons-cl-arrowthick-1-sw {
  background-position: -80px -48px;
}
.icons-cl.icons-cl-arrowthick-1-w {
  background-position: -96px -48px;
}
.icons-cl.icons-cl-arrowthick-1-nw {
  background-position: -112px -48px;
}
.icons-cl.icons-cl-arrowthick-2-n-s {
  background-position: -128px -48px;
}
.icons-cl.icons-cl-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}
.icons-cl.icons-cl-arrowthick-2-e-w {
  background-position: -160px -48px;
}
.icons-cl.icons-cl-arrowthick-2-se-nw {
  background-position: -176px -48px;
}
.icons-cl.icons-cl-arrowthickstop-1-n {
  background-position: -192px -48px;
}
.icons-cl.icons-cl-arrowthickstop-1-e {
  background-position: -208px -48px;
}
.icons-cl.icons-cl-arrowthickstop-1-s {
  background-position: -224px -48px;
}
.icons-cl.icons-cl-arrowthickstop-1-w {
  background-position: -240px -48px;
}
.icons-cl.icons-cl-arrowreturnthick-1-w {
  background-position: 0px -64px;
}
.icons-cl.icons-cl-arrowreturnthick-1-e {
  background-position: -32px -64px;
}
.icons-cl.icons-cl-folder-collapsed {
  background-position: 0px -96px;
}
.icons-cl.icons-cl-folder-open {
  background-position: -16px -96px;
}
.icons-cl.icons-cl-document {
  background-position: -32px -96px;
}
.icons-cl.icons-cl-document-b {
  background-position: -48px -96px;
}
.icons-cl.icons-cl-note {
  background-position: -64px -96px;
}
.icons-cl.icons-cl-mail-closed {
  background-position: -80px -96px;
}
.icons-cl.icons-cl-mail-open {
  background-position: -96px -96px;
}
.icons-cl.icons-cl-suitcase {
  background-position: -112px -96px;
}
.icons-cl.icons-cl-comment {
  background-position: -128px -96px;
}
.icons-cl.icons-cl-person {
  background-position: -144px -96px;
}
.icons-cl.icons-cl-print {
  background-position: -160px -96px;
}
.icons-cl.icons-cl-trash {
  background-position: -176px -96px;
}
.icons-cl.icons-cl-locked {
  background-position: -192px -96px;
}
.icons-cl.icons-cl-unlocked {
  background-position: -208px -96px;
}
.icons-cl.icons-cl-bookmark {
  background-position: -224px -96px;
}
.icons-cl.icons-cl-tag {
  background-position: -240px -96px;
}
.icons-cl.icons-cl-home {
  background-position: 0px -112px;
}
.icons-cl.icons-cl-flag {
  background-position: -16px -112px;
}
.icons-cl.icons-cl-calculator {
  background-position: -32px -112px;
}
.icons-cl.icons-cl-cart {
  background-position: -48px -112px;
}
.icons-cl.icons-cl-pencil {
  background-position: -64px -112px;
}
.icons-cl.icons-cl-clock {
  background-position: -80px -112px;
}
.icons-cl.icons-cl-disk {
  background-position: -96px -112px;
}
.icons-cl.icons-cl-calendar {
  background-position: -112px -112px;
}
.icons-cl.icons-cl-zoomin {
  background-position: -128px -112px;
}
.icons-cl.icons-cl-zoomout {
  background-position: -144px -112px;
}
.icons-cl.icons-cl-search {
  background-position: -160px -112px;
}
.icons-cl.icons-cl-wrench {
  background-position: -176px -112px;
}
.icons-cl.icons-cl-gear {
  background-position: -192px -112px;
}
.icons-cl.icons-cl-heart {
  background-position: -208px -112px;
}
.icons-cl.icons-cl-star {
  background-position: -224px -112px;
}
.icons-cl.icons-cl-link {
  background-position: -240px -112px;
}
.icons-cl.icons-cl-cancel {
  background-position: 0px -128px;
}
.icons-cl.icons-cl-plus {
  background-position: -16px -128px;
}
.icons-cl.icons-cl-plusthick {
  background-position: -32px -128px;
}
.icons-cl.icons-cl-minus {
  background-position: -48px -128px;
}
.icons-cl.icons-cl-minusthick {
  background-position: -64px -128px;
}
.icons-cl.icons-cl-key {
  background-position: -80px -128px;
}
.icons-cl.icons-cl-lightbulb {
  background-position: -96px -128px;
}
.icons-cl.icons-cl-scissors {
  background-position: -112px -128px;
}
.icons-cl.icons-cl-clipboard {
  background-position: -128px -128px;
}
.icons-cl.icons-cl-copy {
  background-position: -144px -128px;
}
.icons-cl.icons-cl-contact {
  background-position: -160px -128px;
}
.icons-cl.icons-cl-image {
  background-position: -176px -128px;
}
.icons-cl.icons-cl-video {
  background-position: -192px -128px;
}
.icons-cl.icons-cl-script {
  background-position: -208px -128px;
}
.icons-cl.icons-cl-close {
  background-position: -80px -128px;
}
.icons-cl.icons-cl-closethick {
  background-position: -96px -128px;
}
.icons-cl.icons-cl-alert {
  background-position: 0px -144px;
}
.icons-cl.icons-cl-info {
  background-position: -16px -144px;
}
.icons-cl.icons-cl-notice {
  background-position: -32px -144px;
}
.icons-cl.icons-cl-help {
  background-position: -48px -144px;
}
.icons-cl.icons-cl-check {
  background-position: -64px -144px;
}
.icons-cl.icons-cl-bullet {
  background-position: -80px -144px;
}
.icons-cl.icons-cl-radio-off {
  background-position: -96px -144px;
}
.icons-cl.icons-cl-radio-on {
  background-position: -112px -144px;
}
.icons-cl.icons-cl-pin-w {
  background-position: -128px -144px;
}
.icons-cl.icons-cl-pin-s {
  background-position: -144px -144px;
}
.icons-cl.icons-cl-play {
  background-position: 0px -160px;
}
.icons-cl.icons-cl-pause {
  background-position: -16px -160px;
}
.icons-cl.icons-cl-seek-next {
  background-position: -32px -160px;
}
.icons-cl.icons-cl-seek-prev {
  background-position: -48px -160px;
}
.icons-cl.icons-cl-seek-end {
  background-position: -64px -160px;
}
.icons-cl.icons-cl-seek-first {
  background-position: -80px -160px;
}
.icons-cl.icons-cl-stop {
  background-position: -96px -160px;
}
.icons-cl.icons-cl-eject {
  background-position: -112px -160px;
}
.icons-cl.icons-cl-volume-off {
  background-position: -128px -160px;
}
.icons-cl.icons-cl-volume-on {
  background-position: -144px -160px;
}

/*# sourceMappingURL=icons.css.map */
